# Gemini API Key
NEXT_PUBLIC_GEMINI_API_KEY= AIzaSyATS0DDpWbPXRfnKY-zB5K7Gr12Ka5h1Co

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_FIRESTORE_DATABASE_ID=
